a {
  color:black;
}

a:link {
  text-decoration:none;
}

a:visited {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a:active {
  text-decoration:underline;
}

i {
  font-weight:bold;
}

li {
  list-style-type: none;
}

#navheader {
  display:flex;
  flex-direction:row;
  justify-content:center;
}

#navheader > li {
  padding: 10px;
}

#thumbnail {
  width: 350px;
  height: 350px;
  margin:10px 0px;
}

#content {
  display:flex;
  flex-direction:column;
  letter-spacing: 2px;
  text-align:center;
}

#rowlist {
  display:flex;
  flex:1;
  justify-content:center;
}

#rowlist > li {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:500px;
  padding: 0px 10px;
}

#concert {
  letter-spacing: 2px;
}

#footer {
  display:flex;
  justify-content:space-between;
  margin:auto;
}

#footer > h6 {
  padding:0px 20px;
  font-size: 12px;
}
